li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  .container{
    border: 1px solid gray;
    background-color: lightgreen;
    color:black;
  }

  h2{
    font-size:60px;
    color:red;
  }